button {
	font-family: Noto Sans JP;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #fff;
	border: none;
	background: #3D5AFE;
	border-radius: 6px;
}

button:hover {
	border: none;
}

button[variant] {
	color: #3D5AFE;
}

button[variant="outline"] {
	background: #fff;
	border: 1px solid #3D5AFE;
}

button[variant="outline"]:hover,
button[variant="outline"]:focus {
	background: rgba(41, 98, 255, 0.1);
}

button[variant="text"] {
	background: #fff!important;
	border: none!important;
}

button[variant="text"]:hover,
button[variant="text"]:focus {
	background: rgba(41, 98, 255, 0.1);
}

button[customdisabled="true"] {
	color: #9E9E9E;
	background: #E0E0E0;
}

button[customdisabled="true"]:hover {
	cursor: not-allowed;
}

.custom-mr {
	margin-right: 9px;
}

.custom-ml {
	margin-left: 9px;
}

button[customsize="sm"] {
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

button[customsize="lg"] {
	padding-right: 23px;
	padding-left: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* COLORS */

button[color="default"] {
	background: #E0E0E0;
	color: #3F3F3F;
}

button[color="default"]:hover,
button[color="default"]:focus {
	background: #AEAEAE;
}

button[color="primary"] {
	background: #3D5AFE;
	color: #fff;
}

button[color="primary"]:hover,
button[color="primary"]:focus {
	background: #0039CB;
}

button[color="secondary"] {
	background: #455A64;
	color: #fff;
}

button[color="secondary"]:hover,
button[color="secondary"]:focus {
	background: #1C313A;
}

button[color="danger"] {
	background: #D32F2F;
	color: #fff;
}

button[color="danger"]:hover,
button[color="danger"]:focus {
	background: #9A0007;
}